@import './base.scss';

$super-light-signature-purple: #dcc6e9;
$light-signature-purple: #be66f5;
$signature-purple: #8a1acb;
$text-signature-purple: #3d0394;

$standard-light-gray-in-white: #f1f1f1;
$standard-gray-in-white: #c2c1c1;
$standard-weight-gray-in-white: #a4a4a4;
$standard-dark-gray-in-white: #848383;
$standard-clean-black: #151515;

$standard-box-shadow: 0 0 10px 0 rgba(65, 65, 65, 0.75);

$duration: 0.4s;
$warning-red: #ce3737;
$correct-green: #3d9c3d;

$warm-black: #484848;

body {
  //background-color: $standard-light-gray-in-white;
}

a {
  text-decoration: none;
  //color: hsla(160, 100%, 37%, 1);
  color: $text-signature-purple;
  transition: 0.4s;
  padding: 3px;
}

a.word {
  font-weight: bold;
  color: #298bdc;

    &:hover {
      background-color: transparent;
      color: #1a5d8c;
    }
}

ul {
  list-style: none;
  padding: 0;
}

//remove number input spinner
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.btn-primary {
  background-color: $signature-purple;
  color: white;
  border-radius: 5px;
  width: 90%;
  transition: $duration;

  &:hover {
    cursor: pointer;
    background-color: $text-signature-purple;
  }
}

div.pushable {
  transition: 0.4s;

  &:hover {
    cursor: pointer;
    background-color: lightgray;
    scale: 0.85;
  }
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
  color: $warm-black;
}


@mixin mobile {
  @media (max-width: 767px) {
    display: flex;
    place-items: center;
    @content;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
}

input.blink-input {
  border-radius: 5px;
  border: 1px transparent solid;
  background-color: $standard-light-gray-in-white;

  &:focus {
    border: 1px #be66f5 solid;
    background-color: white;
    animation-name: blink-input;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  &:disabled {
    background-color: $standard-light-gray-in-white !important;
    cursor: not-allowed !important;
    user-select: none;
  }
}

.blink {
  border: 1px #be66f5 solid;
  background-color: white;
  animation-name: blink-input;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

// Animations
.left-fade-enter-active, .left-fade-leave-active {
  transition: opacity 0.5s ease;
}

.left-fade-enter-from, .left-fade-leave-to {
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}


.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 1s ease-out;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.list-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}


@keyframes blink-input {
  0% {
    border-color: $standard-light-gray-in-white;
  }

  50% {
      border-color: #be66f5;
  }

  100% {
    border-color: $standard-light-gray-in-white;
  }
}

.floating {
  animation: floating 1s infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce-enter-active {
  animation: bounce-in .3s;
}

.bounce-leave-active {
  animation: bounce-in .3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fall-fade-enter-active {
  animation: fall-fade-in .2s !important;
}

.fall-fade-leave-active {
  animation: fall-fade-in .2s reverse !important;
}

@keyframes fall-fade-in {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.down-fade-enter-active {
  animation: down-fade-in .2s;
}

.down-fade-leave-active {
  animation: down-fade-in .2s reverse;
}

@keyframes down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

